<% directory, basename = changeset_document_path_parts(document) %>

<article
  id="<%= changeset_document_anchor(document) %>"
  class="changeset-file changeset-file--selected"
>
  <header class="changeset-file-header">
    <div class="changeset-file-heading">
      <%= changeset_file_icon %>

      <p class="changeset-file-path" title="<%= document.path %>" aria-label="<%= document.path %>">
        <% if directory.present? %>
          <span class="changeset-file-path__directory"><%= directory %></span>
        <% end %>
        <span class="changeset-file-path__basename"><%= basename %></span>
      </p>
    </div>

    <div class="changeset-file-meta">
      <span><%= document.language %></span>
      <span class="font-medium text-emerald-700">+<%= document.additions_count %></span>
      <span class="font-medium text-rose-700">-<%= document.deletions_count %></span>
      <span class="rounded-md px-2 py-0.5 text-[11px] font-semibold <%= changeset_document_badge_class(document) %>">
        <%= document.status %>
      </span>
    </div>
  </header>

  <div class="changeset-file-table-wrap">
    <div class="changeset-file-table-scroll">
      <%= render "changeset/reviews/document_#{view_mode}",
        document: document,
        frame_id: frame_id,
        open_thread_line_code: open_thread_line_code,
        open_thread_side: open_thread_side,
        review: review,
        view_mode: view_mode,
        thread_index: thread_index %>
    </div>
  </div>
</article>
