<table class="reviewkit-diff-table reviewkit-diff-table--split">
  <colgroup>
    <col class="w-8">
    <col class="w-[1%]">
    <col>
    <col class="w-8">
    <col class="w-[1%]">
    <col>
  </colgroup>

  <% document.diff_rows.each do |row| %>
    <% threads = reviewkit_threads_for(thread_index, document, row) %>
    <% line_code = row.fetch("line_code") %>
    <% composer_open = open_thread_line_code == line_code %>
    <tbody class="reviewkit-line-group">
      <tr class="<%= reviewkit_diff_row_class(row) %>">
        <td class="reviewkit-diff-cell reviewkit-diff-cell--old reviewkit-diff-cell--action">
          <% if row["old_line"].present? %>
            <%= link_to "+",
              review_path(review, document_id: document.id, open_thread: line_code, thread_side: "old", view: view_mode),
              class: "reviewkit-line-action",
              data: { turbo_frame: frame_id },
              aria: { label: "Start a thread on the old version of this line" } %>
          <% end %>
        </td>
        <td class="reviewkit-diff-cell reviewkit-diff-cell--old reviewkit-diff-cell--line">
          <%= reviewkit_line_number(row["old_line"]) %>
        </td>
        <td class="reviewkit-diff-cell reviewkit-diff-cell--old reviewkit-diff-cell--code reviewkit-diff-cell--split-divider">
          <%= reviewkit_highlight_line(
            row["old_text"],
            document.language,
            inline_ranges: reviewkit_inline_ranges(row, side: "old", document: document),
            inline_side: "old"
          ) %>
        </td>
        <td class="reviewkit-diff-cell reviewkit-diff-cell--new reviewkit-diff-cell--action">
          <% if row["new_line"].present? %>
            <%= link_to "+",
              review_path(review, document_id: document.id, open_thread: line_code, thread_side: "new", view: view_mode),
              class: "reviewkit-line-action",
              data: { turbo_frame: frame_id },
              aria: { label: "Start a thread on the new version of this line" } %>
          <% end %>
        </td>
        <td class="reviewkit-diff-cell reviewkit-diff-cell--new reviewkit-diff-cell--line">
          <%= reviewkit_line_number(row["new_line"]) %>
        </td>
        <td class="reviewkit-diff-cell reviewkit-diff-cell--new reviewkit-diff-cell--code">
          <%= reviewkit_highlight_line(
            row["new_text"],
            document.language,
            inline_ranges: reviewkit_inline_ranges(row, side: "new", document: document),
            inline_side: "new"
          ) %>
        </td>
      </tr>

      <%= render "reviewkit/review_threads/bucket_row",
        colspan: 6,
        composer_open: composer_open,
        composer_side: open_thread_side,
        document: document,
        frame_id: frame_id,
        line_code: line_code,
        review: review,
        row: row,
        thread_errors: [],
        threads: threads,
        view_mode: view_mode %>
    </tbody>
  <% end %>
</table>
